LISTEN_PORT=8085
FRONTEND_ORIGIN=http://localhost:5173

# Database Config
DB_USER=eventhub
DB_PASSWORD=some_secure_password
DB_HOST=db
DB_PORT=5432
DB_Name=eventhub_db
DB_TLS_DISABLED=true

MIGRATIONS_PATH=./internal/db/migrations

JWT_SECRET=random gererated characters
GMAIL_USER=email address
GMAIL_PASSWORD=some_secure_email_password