LISTEN_PORT=8085
FRONTEND_ORIGIN=http://localhost:5173

# Database Config
DB_USER=eventhub
DB_PASSWORD=some_secure_password
DB_HOST=db
DB_PORT=5432
DB_Name=eventhub_db
DB_TLS_DISABLED=true

MIGRATIONS_PATH=./internal/db/migrations

JWT_SECRET=random gererated characters
GMAIL_USER=email address
GMAIL_PASSWORD=some_secure_email_password

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=event-images
MINIO_USE_SSL=false

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=password

# CamPay Payment Gateway Configuration
CAMPAY_API_URL=https://api.campay.net/api/v1
CAMPAY_API_KEY=your_campay_api_key
CAMPAY_WEBHOOK_SECRET=your_campay_webhook_secret
CAMPAY_ENABLED=true

# QR Code HMAC secret
QR_HMAC_SECRET=your_strong_secret_key